<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Lista de musicas</h2>
    <a href="{{ url_for('nova_musica') }}">Adicionar musica</a>
    {% if not musicas %}
    <p>Não há musicas registradas</p>
    {% endif %}
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Artista</th>
                <th>Remover</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for musica in musicas %}
            <tr>
                <td>{{ musica.nome }}</td>
                <td>{{ musica.tipo }}</td>
                <td>{{ musica.artista }}</td>
                <td><a href="{{ url_for('editar_musica', chave=musica.id)}}">Editar</a></td>
                <td><a href="{{ url_for('remove_musica', chave=musica.id)}}">Remover</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
